*{
    margin:0;
    border:0;
    font-family:"Poppins" , sans-serif;
    box-sizing:border-box;
}
body{
    background:#002339;
    color:#fff;
}

.container{
    margin:12%;
    width:60%;
    max-width:700px;

}
.display{
    width:100%;
    margin-top:40px;
    margin-bottom:30px;
    background:#fff;
    color:#333;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:20px 15px;
    border-radius:5px;
}

.container h1{
    font-weight: 500;
    font-size: 37px;
}

.container h1 span{
    color:#019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 11px;
    line-height: 1.5;
}

.display img{
    width:25px;
    cursor: pointer;
}
.display input{
    border:0;
    outline:0;
    font-size:24px;

}
.elements{
    width:100%;
    margin-top:-15px;
    margin-bottom: 20px ;
    display: flex;
    color:#fff;
    font-size: 0.9rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    column-gap: 0.5rem; /* equivalent to gap-x-2 */
    
}
.range{
    display: flex;
    align-items: center;
    column-gap:0.35rem ;/* This applies both column and row gaps in flexbox */
    
}
.numbers{
    display: flex;
    align-items: center;
    column-gap:0.35rem ;
}
.charecters{
    display: flex;
    align-items: center;
    column-gap:0.35rem ;
}

.container button img{
    width:28px;
    margin-right: 10px;
}

.container button{
    border:0;
    outline:0;
    background:#019f55;
    color: #fff;
    font-size:20px;
    font-weight:300;
    display:flex;
    align-items: center;
    justify-content:center;
    padding:16px 20px;
    border-radius:8px;
    cursor:pointer;
    height: 55px;
    transition: transform 0.3s ease; /* Smooth zoom effect */
    
}
.container button:hover{
    transform: scale(1.04); /* Slightly increase size */
}
.container button:active{
    transform: scale(0.95); /* Slightly decrease size on click */
}
